{% extends "base.html" %}

{% block title %}Welcome to the Machine Learning App{% endblock %}

{% block content %}
    <h1>Welcome to the Machine Learning App</h1>
    <p>This application allows you to train machine learning models and make predictions based on your data.</p>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Get Started</h5>
            <p class="card-text">Use the navigation bar to start building your AI with Machine Learning.</p>
            <div id="algorithms">
                {% for category, item in algorithms.items() %}
                <h3 class="mt-4">{{ category }}</h3>
                <ul class="min-w-100" style="max-width: 500px;">
                    {% for algo, label in item.items() %}
                    <li class="d-flex align-items-center justify-content-between mb-2">
                        <h5>{{label}}</h5>
                        <a href="{{ url_for('train_html', algorithm=algo) }}" class="btn btn-primary">Start Training</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
